@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Lora&family=Montserrat:wght@400;600&display=swap');

/* font-family: 'Crimson Pro', serif;
font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

html,
body {
  min-height: 100dvh;
  background-color: #181719;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
  padding: 0 4rem;
}

header .logo {
  border: 1px solid #fff;
  font-size: .8rem;
  padding: 1em 1.5em;
  text-transform: uppercase;
  font-family: 'Crimson Pro', serif;
}

header .burger,
.close {
  height: 3rem;
  width: 3rem;
  padding: .2rem;
  background: none;
  border: none;
  cursor: pointer;
}

.close {
  height: 2rem;
  width: 2rem;
}

header .burger {
  display: none;
}

.burger img,
.close img {
  width: 100%;
}

.burger:hover,
.close:hover {
  transform: scale(110%)
}

#menu_fs {
  background-color: #181719;
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  min-height: 100%;
  padding: 2rem 1rem;
  z-index: 1;
}

#menu_fs nav {
  flex: 1;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#menu_fs nav .link {
  font-size: 2rem;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

nav .link {
  position: relative;
  text-transform: capitalize;
  font-size: 1.2rem;
  padding: .4em 0;
  text-align: center;
}

.link a {
  color: inherit;
  text-decoration: none;
}

.link:hover {
  font-weight: 600;
}

.link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 2px solid #fff;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .3s ease-out;
}

.link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

main {
  min-height: calc(100dvh - 8rem);
  display: grid;
  grid-template-columns: 40% auto;
  grid-template-rows: calc(100dvh - 10rem);
  gap: 2rem;
  padding: 1rem 4rem;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
}

.info h2 {
  font-size: 3rem;
  font-weight: 400;
  font-family: 'Lora', serif;
}

.info p {
  font-size: 1.5rem;
}

.info button {
  position: relative;
  border: none;
  background: none;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
}

.info button:hover {
  letter-spacing: .1rem;
}

.design {
  position: relative;
}

.design .image_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85%;
  overflow: hidden;
}

.design .image_container img {
  height: 100%;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}

.design .card {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  right: 4rem;
  bottom: 0;
  width: 24rem;
  max-width: 80%;
  min-width: 16.5rem;
  height: 10rem;
  padding: 1rem 2rem;
  background-color: #181719;
  box-shadow: 0 4px #000;
}

.card .designer_info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.card .designer_info figure {
  border-radius: 50%;
  height: 3.5rem;
  width: 3.5rem;
  overflow: hidden;
}

.card .designer_info figure img {
  width: 100%;
}

.card .designer_info .data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.card .designer_info .data .name {
  font-size: .8rem;
  font-weight: 600;
}

.card .designer_info .data .ocupation {
  font-size: .7rem;
  opacity: .8;
}

.card p {
  font-family: 'Lora', serif;
  font-weight: 600;
  font-size: 1.5rem;
  text-wrap: balance;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
}

footer p {
  opacity: .8;
  font-size: .8rem;
}

footer p a {
  font-weight: 600;
  text-decoration: none;
}

/* ? Responsive */

@media (max-width: 1023px) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: auto 25rem;
    padding: 2rem;
    padding-top: 1rem;
  }

  .design .card {
    right: 5%;
  }
}

@media (max-width: 767px) {
  header {
    padding: 0 1rem;
  }

  header nav {
    display: none;
  }

  header .burger,
  .close {
    display: block;
  }
}
